#navbar-container {
  /* border: 1px solid purple; */
  width: 100%;
}

.navbar-option {
  text-decoration: none;
  color: white;
  /* WHITE CURSOR */
  cursor: url("../../img/cursors/Cross.cur"), auto;
}

#list-div {
  display: flex;
  justify-content: right;
  /* padding: .5vw 4vw; */
  /* border: 1px solid green; */
  width: 100%;
}

ul {
  height: 1vw;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid orange; */
  margin-right: 4vw;
}

li {
  font-size: 1.9vw;
  font-family: "adaptive-mono", monospace;
  letter-spacing: 1.2px;
  list-style-type: none;
  text-shadow:
      0 0 .5px rgba(255, 255, 255, 0.575),
      0 0 1px rgba(255, 255, 255, 0.599),
      0 0 1px rgba(255, 255, 255, 0.6),
      0 0 2px rgba(255, 255, 255, 0.526),
      0 0 2px rgb(255, 255, 255);
}

li:hover {
  z-index: 3;
  opacity: 65%;
  filter: blur(.4px);
  text-shadow:
      0 0 8px rgba(255, 255, 255, 0.519),
      0 0 18px rgba(255, 255, 255, 0.583),
      0 0 28px rgba(255, 255, 255, 0.555),
      0 0 28px rgba(255, 255, 255, 0.434),
      0 0 32px rgb(255, 255, 255);
  /* cursor: pointer; */
}

@media screen and (min-width: 749px) {
  li{
    font-size: 1.4vw;
  }
}

@media screen and (min-width: 1200px) {
  li{
    font-size: 1vw;
  }
}

@media screen and (max-width: 750px) {
  ul{
    width: 100%;
  }
}
