#homepage-text {
  /* height: 100%;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#homepage-bocodes {
  font-size: 13vw;
}

#homepage-name {
  font-family: "adaptive-mono", monospace;
  letter-spacing: 1.2px;
  font-size: 1.4vw;
}

#github-container {
  /* border: 1px solid orange; */
  display: flex;
  margin-left: 4vw;
  margin-top: 2vw;
  font-family: "adaptive-mono", monospace;
  letter-spacing: 1.2px;
  list-style-type: none;
  text-shadow: 0 0 0.5px rgb(255 255 255 / 57%), 0 0 1px rgb(255 255 255 / 60%), 0 0 1px rgb(255 255 255 / 60%), 0 0 2px rgb(255 255 255 / 53%), 0 0 2px rgb(255 255 255);
}

@media screen and (max-width: 620px) {
  #github-container {
    flex-direction: column;
    margin-left: 0;
  }
}
