#homepage-text {
  /* height: 100%;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#homepage-bocodes {
  font-size: 13vw;
}

#homepage-name {
  font-family: "adaptive-mono", monospace;
  letter-spacing: 1.2px;
  font-size: 1.4vw;
}

/* #github-container {
  display: flex;
  margin-left: 4vw;
  margin-top: 2vw;
} */

@media screen and (max-width: 620px) {
  #github-container {
    flex-direction: column;
    margin-left: 0;
  }
}
