#repos-section {
  /* border: 1px solid purple; */
  width: 30vw;
  margin-left: 2vw;
}

#repo-list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 2.4vw;
  /* height: auto; */
  padding: 0;
}

#currently-working-on {
  /* border: 1px solid seagreen; */
  font-size: 1.5vw;
}

#repo-link-container {
  padding-bottom: 1.1vw;
  /* border: 1px solid blue; */

}

#repo-link {
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  width: 100%;
  /* border: 1px solid skyblue; */
}

#repo-link-and-languages-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  width: 100%;
}

#repo-link-and-languages-container:hover {
  cursor: pointer;
}

#languages-container {
  display: flex;
}

#individual-language {
  margin-left: .36vw;
}

@media screen and (min-width: 860px) {
  #repo-link {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 860px) {
  #repos-section {
    width: 60%;
    padding: 2vw 6vw 6vw 6vw;
    margin-left: 0;
  }

  #currently-working-on {
    font-size: 2.8vw;
  }

  #repo-link {
    font-size: 2.2vw;
  }

  #repo-link-container {
    margin-bottom: 1.6vw;
  }

  #individual-language {
    margin-left: .44vw;
  }

}

@media screen and (max-width: 750px) {
  #currently-working-on {
    font-size: 3.2vw;
  }

  #repo-link {
    font-size: 2.4vw;
  }

  #repo-link-container {
    margin-bottom: 1.6vw;
  }
}

@media screen and (max-width: 650px) {
  #currently-working-on {
    font-size: 3.4vw;
  }

  #repo-link {
    font-size: 2.7vw;
  }

  #repo-link-container {
    margin-bottom: 2.6vw;
    width: 70vw;
  }

  #repo-link-container {
    margin-bottom: 1.6vw;
  }

  #repos-section {
    /* border: 1px solid orange; */
    width: 100vw;
  }

  #repo-list-container {
    width: 100%;
  }

  #repo-link-container {
    margin-bottom: 2.6vw;
    width: 100%;
  }

  #individual-language {
    margin-left: .6vw;
  }
}

@media screen and (max-width: 490px) {
  #currently-working-on {
    font-size: 3vw;
    margin-bottom: 6vw;
  }

  #repo-link {
    font-size: 3vw;
    /* margin-bottom: 1vw; */
  }

  #repo-link-container {
    margin-bottom: 2.6vw;
    width: 97%;
  }

  #repos-section {
    width: 100vw;
    padding: 6vw;
  }

  #repo-list-container {
    width: 100%;
  }
}
