#repos-section {
  /* border: 1px solid purple; */
  width: 30vw;
  margin-left: 2vw;
}

#repo-list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-top: 2.4vw;
  /* height: auto; */
  padding: 0;
}

#currently-working-on {
  /* border: 1px solid seagreen; */
  font-size: 1.5vw;
}

#repo-link-container {
  padding-bottom: 1.1vw;
  /* border: 1px solid blue; */

}

#repo-link {
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  width: 100%;
  /* border: 1px solid skyblue; */
}

#repo-link-and-languages-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  width: 100%;
}

#repo-link-and-languages-container:hover {
  cursor: pointer;
}

#languages-container {
  display: flex;
}

#individual-language {
  margin-left: .16vw;
}
